*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.logo{
    text-decoration: none;
    color: black;
    
}
header {
    background-color: skyblue;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}
header img {
    margin-right: 20px;
    width: 100px; 
}
header h1 {
    margin: 0;
}
.center_desktop a{
    text-decoration: none;
    color: black;
    text-align: center;
}
h3{
    text-align: center;
}
h5{
    text-align: center;
    text-decoration: none;
}
.poem, .Collection{
    text-align: center;
    margin-top: 5px;
}
.book{
    border: thin solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:20%;
}
.tho {
    font-family: 'Roboto', serif;
    margin: 20px auto;
    background-color: #fff;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 1em;
    font-size: 1em;
    line-height: 1.5;
    display: block; /* Sets the image as a block element */
    margin-left: auto;
    margin-right: auto;
    height: auto; 
}

.image-container {
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content (if needed) */
}

footer {
    background-color: #6d7f8d;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-top: 5px solid #556270;
}

img {
    border: 3px solid #556270;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    display: block; /* Sets the image as a block element */
    margin-left: auto;
    margin-right: auto;
    height: auto; /* Preserves the aspect ratio */
}

@media screen and (max-width: 768px) {
    body {
        padding: 0 10px;
    }
    img {
        max-width: 100%; /* Allows the image to adjust to the screen size */
    }

    .tho {
        width: 90%;
    }
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#title{
    text-align: center;
}
